canvas {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#warnings {
	margin-top: 50px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

#game {
	width: 1024px;
	margin-left: calc((100% - 1024px)/2);
	background: #000;
}

#canvas {
	height: 512px;
}

#messages {
	background: #F5F5F5;
	padding: 24px 10px 10px 10px;
	height: 250px;
	overflow-y: scroll;
}

.message {
	display: block;
}

.message-program {
	color: red;
}


.movable-ui {
	position: absolute;
}

.movable-name {
	color: white;
	font-family: Georgia;
	font-weight: bold;
	font-size: 16px;
}

.movable-healthbar {
	width: 100%;
	background: black;
	height: 8px;
	border-radius: 4px;
	border: 1px solid #999;
	overflow: hidden;
}

.movable-health {
	width: 100%;
	background: #F00;
	height: 100%;



	background: #9a291e; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #9a291e 0%, #d82a2a 73%, #ca2320 100%, #e87e80 100%, #ca2320 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9a291e), color-stop(73%,#d82a2a), color-stop(100%,#ca2320), color-stop(100%,#e87e80), color-stop(101%,#ca2320)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #9a291e 0%,#d82a2a 73%,#ca2320 100%,#e87e80 100%,#ca2320 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #9a291e 0%,#d82a2a 73%,#ca2320 100%,#e87e80 100%,#ca2320 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #9a291e 0%,#d82a2a 73%,#ca2320 100%,#e87e80 100%,#ca2320 101%); /* IE10+ */
	background: linear-gradient(135deg,  #9a291e 0%,#d82a2a 73%,#ca2320 100%,#e87e80 100%,#ca2320 101%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a291e', endColorstr='#ca2320',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
