canvas {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.hidden {
	display: none !important;
}

#game {
	width: 1024px;
	margin-left: calc((100% - 1024px)/2);
	background: #000;
}

#loginOrRegister {
	width: 400px;
	height: 290px;
	position: absolute;
	top: 200px;
	left: calc((100% / 2) - 200px);
	background: rgba(250, 250, 250, 0.6);
	padding: 20px;
	-webkit-box-shadow: 0 0 6px 2px #000000;
	box-shadow: 0 0 6px 4px #000000;
	border-radius: 8px;
	z-index: 1;
	overflow: hidden;
}

#loginScreen {
	position: absolute;
	width: 1024px;
	height: 817px;
}

#login {
	position: absolute;
	left: 600px;
	width: 100%;
}

#register {
	position: absolute;
	width: 100%;
}

.loginTitle {
	color: #111;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
}

.loginDescription {
	color: #111;
	margin-bottom: 10px;
}

.loginSwitch {
	color: #33F;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.loginSwitch:hover {
	color: #77F;
}

#registerButton {
	color: #00D;
	font-weight: bold;
	display:block;
	text-align: center;
	margin-top:20px;
	font-size: 24px;
	text-decoration: none;

	margin: 10px auto;

	border:2px groove #7c93ba;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding: 5px 25px;
	/*give the background a gradient - see cssdemos.tupence.co.uk/gradients.htm for more info*/
	background-color:#6b6dbb; /*required for browsers that don't support gradients*/
	background: -webkit-gradient(linear, left top, left bottom, from(#88add7), to(#6b6dbb));
	background: -webkit-linear-gradient(top, #88add7, #6b6dbb);
	background: -moz-linear-gradient(top, #88add7, #6b6dbb);
	background: -o-linear-gradient(top, #88add7, #6b6dbb);
	background: linear-gradient(top, #88add7, #6b6dbb);
	/*style to the text inside the button*/
	font-family:Andika, Arial, sans-serif; /*Andkia is available at http://www.google.com/webfonts/specimen/Andika*/
	color:#fff;
	font-size:1.1em;
	letter-spacing:.1em;
	font-variant:small-caps;
	/*give the corners a small curve*/
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	/*add a drop shadow to the button*/
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#registerButton:hover, #registerButton:focus {
	color:#edebda;
	/*reduce the spread of the shadow to give a pushed effect*/
	-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}

#loginButton {
	color: #00D;
	font-weight: bold;
	display:block;
	text-align: center;
	margin-top:20px;
	font-size: 24px;
	text-decoration: none;

	margin: 10px auto;

	border:2px groove #7c93ba;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding: 5px 25px;
	/*give the background a gradient - see cssdemos.tupence.co.uk/gradients.htm for more info*/
	background-color:#6b6dbb; /*required for browsers that don't support gradients*/
	background: -webkit-gradient(linear, left top, left bottom, from(#88add7), to(#6b6dbb));
	background: -webkit-linear-gradient(top, #88add7, #6b6dbb);
	background: -moz-linear-gradient(top, #88add7, #6b6dbb);
	background: -o-linear-gradient(top, #88add7, #6b6dbb);
	background: linear-gradient(top, #88add7, #6b6dbb);
	/*style to the text inside the button*/
	font-family:Andika, Arial, sans-serif; /*Andkia is available at http://www.google.com/webfonts/specimen/Andika*/
	color:#fff;
	font-size:1.1em;
	letter-spacing:.1em;
	font-variant:small-caps;
	/*give the corners a small curve*/
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	/*add a drop shadow to the button*/
	-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
	box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}

#loginButton:hover, #loginButton:focus {
	color:#edebda;
	/*reduce the spread of the shadow to give a pushed effect*/
	-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}

.fieldInput {
	box-shadow: rgb(0, 0, 0) 0px 1px 6px 0px inset;
	border: thin solid rgb(85, 85, 85);
	padding: 6px 10px;
	font-family: Georgia;
	background: transparent;
	color: #222;
	border-radius: 6px;
	margin: 4px;
}

.fieldInput:hover {
	background: rgba(250, 250, 250, 0.02);
	color: #000;
}

.fieldInput:active, .fieldInput:focus {
	background: rgba(250, 250, 250, 0.1);
	color: #000;
}

.fieldInput::-webkit-input-placeholder {
	color: #888;
}

.fieldInput::-moz-placeholder {
	color: #DDD;
}

.loginFirefoxAvatar {
	position: absolute;
	right: 110px;
	top: 100px;
	width: 58px;
}

#overlay {
	width: 100%;
	height: 100%;
	/* background: url('http://fc09.deviantart.net/fs71/f/2013/050/0/c/level_background_for_a_mobile_game__by_bvigec-d5vi8b0.jpg'); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#canvas {
	height: 512px;
	position: relative;
	overflow: hidden;
}

#messages {
	background: #F5F5F5;
	padding: 24px 10px 10px 10px;
	height: 250px;
	overflow-y: scroll;
}

.message {
	display: block;
	white-space: pre;
	font-family: monospace;
}

.message-program {
	color: red;
}

.message-good {
	color: green;
}

.message-bad {
	color: red;
}


.movable-ui {
	position: absolute;
	pointer-events: none;
}

.movable-name {
	color: white;
	font-family: Georgia;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.movable-healthbar {
	/* width: 100%; */
	/* min-width: 40px; */
	background: black;
	height: 8px;
	border-radius: 4px;
	border: 1px solid #999;
	overflow: hidden;
	margin: auto;
	width: 40px;
}

.movable-health {
	width: 100%;
	background: #F00;
	height: 100%;



	background: #9a291e; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #9a291e 0%, #d82a2a 73%, #ca2320 100%, #e87e80 100%, #ca2320 101%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9a291e), color-stop(73%,#d82a2a), color-stop(100%,#ca2320), color-stop(100%,#e87e80), color-stop(101%,#ca2320)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #9a291e 0%,#d82a2a 73%,#ca2320 100%,#e87e80 100%,#ca2320 101%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #9a291e 0%,#d82a2a 73%,#ca2320 100%,#e87e80 100%,#ca2320 101%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #9a291e 0%,#d82a2a 73%,#ca2320 100%,#e87e80 100%,#ca2320 101%); /* IE10+ */
	background: linear-gradient(135deg,  #9a291e 0%,#d82a2a 73%,#ca2320 100%,#e87e80 100%,#ca2320 101%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a291e', endColorstr='#ca2320',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.bubble-ui {
    position: absolute;
    pointer-events: none;
    background-color: #05b6e2;
    padding: 4px 8px;
    border-radius: 6px;
    border: thin solid #000;
    max-width: 300px;
}

.bubble-text {
    color: #FFF;
    font-family: Georgia;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#ui-inventory-bag {
    display: block;
    text-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;
    margin: 0 auto;

    height: 41px;
}

.ui-inventory-slot-container {
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    display: inline-box;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -o-inline-box;
    display: -ms-inline-box;
    padding: 1px;
    margin: 2px 2px;
    border-color: #DDD;
    position: relative;
    -moz-border-radius: 5px;
    border-radius: 5px;

	overflow: hidden;
    width: 40px;
    height: 32px;
	border: thin solid #a25223;
}

.ui-inventory-slot-container.hover {
    border: thin solid #fa9300;
	cursor: pointer;
}

.ui-inventory-slot-container.active {
    border: 2px solid hsla(60, 60%, 50%, 1);
}

.ui-inventory-slot-container.hover.active {
    border: 2px solid hsla(60, 80%, 50%, 1);
}

.ui-inventory-slot {
	width: 100%;
	height: 100%;

	background: #b1856b;
}

.ui-inventory-slot.hover {
    background: #d6690b;
}

.ui-inventory-slot-stack {
	position: absolute;
	font: 14px serif;
	margin: 1px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#dcScreen {
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.95;
	position: absolute;
	z-index: 1;

	display: none;
}

#dcMessage {
	width: 300px;
	position: absolute;
	top: 200px;
	left: calc((100% / 2) - 150px);
	background: rgba(250, 250, 250, 1.0);
	padding: 20px;
	-webkit-box-shadow: 0 0 6px 2px #000000;
	box-shadow: 0 0 6px 4px #000000;
	border-radius: 8px;
	z-index: 1;
	overflow: hidden;

	color: red;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 24px;
}

#dcMessage1 {
	text-align: center;
	width: 100%;
	display: block;
	font-size: 28px;
}

#dcMessage2 {
	color: #000;
	font-size: 16px;
}

#dcMessage3 {
	display: block;
	color: brown;
	font-size: 14px;
	margin-top: 10px;
}

#input {
	width: 100%;
	height: 24px;
}

input.error {
	border-color: red;
	box-shadow: rgb(255, 0, 0) 0px 0px 4px 0px inset;
}

.errorMessage {
	color: red;
	font-size: 14px;
}

#character-bar {
	display: flex;
}

/* === UI Effects === */

#ui-effects-buffs {
	display: flex;
}

.ui-effects-buff {
	width: 40px;
    height: 40px;
	margin: 3px;
}

.ui-effects-buff-icon {
    max-width: 100%;
    max-height: 100%;
}

.buff-tooltip {
	max-width: 300px;
	display: block;
	position: absolute;
	background-color: #203;
    padding: 4px 6px;
    border-radius: 6px;
}

.buff-tooltip-header {
	display: flex;
}

.buff-tooltip-icon {
	max-width: 40px;
	max-height: 40px;
}

.buff-tooltip-title {
	color: #FFF;
	font-weight: bold;
    flex-grow: 1;
    text-align: center;
    padding-top: 10px;
	font-size: 18px;
	font-family: Georgia;
	color: #F000F0;
}

.buff-tooltip-title-sep {

}

.buff-tooltip-description {
	color: #FAFAFA;
}

/* === UI Stats === */

#ui-stats {
	display: flex;
    flex-direction: column;
}

.ui-stats-stat {
	margin: -3px 0px;
    display: inline-flex;
}

.ui-stat-name {
	color: #FFF;
}

.ui-stat-curVal {
	color: #FFF;
}

.ui-stat-curMaxVal {
	color: #FFF;
}

.ui-stat-maxVal {
	color: #FFF;
}

.ui-stats-namecolon {
	color: #AAA;
}

.ui-stats-statslash {
	color: #AAA;
}
