
body {
    background: #000;
	margin: 0px;
}

#workingWindow {

}

/*******************************/
/*           Mapper            */

#mapperWindow {
    display: block;
    position: absolute;
	width: 100%;
}

#mapEditorCanvas {
    width: 100%;
    height: 800px;
}

#mapEditorCanvas.holdingSprite {
    cursor: none;
}

/*******************************/
/*          Controls           */

#controlsWindow {
	position: absolute;
    top: 0px;
    right: 0px;

    width: 400px;
    min-height: 200px;
    margin: 20px;
}

#controlsTabs {
	display: flex;
	flex-direction: row;
	margin-left: 6px;
	margin-bottom: -1px;
}

.controlsTab {
	width: 40px;
    height: 40px;
    border: thin solid #6b6b6b;
    text-align: center;

	background: #202020;
}

.controlsTab.active {
	border-bottom: thin solid #282828;
	background: #282828;
}

.controlsTab:hover {
	font-weight: bold;
}

.controlsTabBtn {
	color: #FFF;
	text-decoration: none;
}

#controlsContainer {
    border: thin solid #6b6b6b;
    background: #282828;
    border-radius: 6px;
    padding: 4px;
    color: #FFF;
}

.controlsContainerChild {
	display: none;
}

.controlsContainerChild.active {
	display: block;
}

/*******************************/
/*            Console          */

#consoleWindow {
    display: none;
}


/*******************************/
/*        Resource Mgr         */

#resourceMgr {
    padding: 10px 10px;
}

#mapList {
    margin-bottom: 40px;
}

#mapList .resource {
    color: #FFF;
    display: block;
	text-decoration: none;
}

#mapList .resource:hover {
    font-weight: bold;
}

#resourceMgrList .resource {
    color: #FFF;
    display: block;
	text-decoration: none;
}

#resourceMgrList .resource:hover {
    font-weight: bold;
}

.resourceMgrAddNew {
    text-decoration: none;
    color: #8FF;
}

.resourceMgrAddNew:hover {
    font-weight: bold;
}

.resource-img {
    display: none;
    max-width: 100%;
}

.resource-img.active {
    display: block;
}

#sheetCanvas {
    width: 100%;
}

#mapperNew {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 42px;
    font-weight: bold;
}

#mapperSave {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 42px;
    font-weight: bold;
}

/*******************************/
/*            Save             */

#saveOverlay {
    display: none;
}
