
body {
    display: flex;
    justify-content: stretch;
    margin: 10px 10px;
    background: #181818;
}

#workingWindow {
    width: 100%;
}

/************************************/
/*      Editor      */

.tilesheetActionImg {
    max-height: 100%;
    max-width: 100%;
    filter: brightness(10);
}

.tilesheetFieldContainer {
    margin: 6px;
}

/************************************/
/*      Modules      */

.module {
    display: none;
}

.activeModule {
    display: block;
}

/*      Tilesheet      */

#ModTilesheet {
    display: grid;
    justify-content: space-between;
    grid-gap: 10px;
    grid-template-columns: 75% 25%;
}

#tilesheetControls {
    min-height: 200px;
    border: thin solid #6b6b6b;
    background: #282828;
    border-radius: 6px;
    margin: 20px;
    padding: 4px;
    color: #FFF;
}

#tilesheetControls.pendingChanges {
    border: 4px solid #FF0;
}

#tilesheetActionList {
    display: flex;
    justify-content: space-evenly;
}

.tilesheetAction {
    min-width: 20px;
    min-height: 20px;
    margin: 0px;
    padding: 2px;
    display: block;
    background: #232323;
    border: 1px solid #707070;
	text-decoration: none;

    height: 30px;
    width: 30px;
    border-radius: 4px;
}

.tilesheetAction.active {
    background: #888;
}

.tilesheetAction:hover {
    font-weight: bold;
    background: #888;
}

.tilesheetObject {
    display: block;
    text-decoration: none;
}

#tilesheetSave {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    text-decoration: none;
    color: #AAA;
}

.pendingChanges #tilesheetSave {
    color: #FF0;
}

#tilesheetSave:hover {
    color: #0FF;
}

#tilesheetCanvas {
    grid-row: 2;
	border: thin solid #000;
}

#tilesheetCanvas.hover {
    background-color: #F00;
}

#tilesheetCanvas.interactionGrab {
	cursor: grab;
}

#tilesheetCanvas.interactionGrabbing {
	cursor: grabbing;
	background-color: #111;
	border-color: #FF5;
}

#tilesheetVirtualCanvas {
    display: none;
}

.fieldText {
    background: #232323;
    border: thin solid #000;
    border-radius: 2px;
    padding: 2px;
    color: #FFF;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    max-width: 100%;
}

.fieldSep {
    height: 1px;
    border-top: thin solid #383838;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.formRange {
    width: 60px;
}

.flexFormField {
	display: flex;
	justify-content: space-between;
}

.formLabelValue {
    background: #232323;
    border: thin solid #000;
    border-radius: 2px;
    padding: 2px;
    color: #FFF;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    display: inline;
    width: 60px;
}

#tilesheetGeneratedFromImagesContainer {
    display: none;
}

#tilesheetControls.generated > #tilesheetGeneratedFromImagesContainer {
    display: block;
}

/*      Tilesheet Folder Hierarchy      */

#tilesheetLeftContainer {
    grid-column: 1 / 2;
}

#tilesheetRightContainer {
    grid-column: 2 / 2;
}

#tilesheetFolderHierarchyContainer {
    min-height: 200px;
    border: thin solid #6b6b6b;
    background: #282828;
    border-radius: 6px;
    margin: 20px;
    padding: 4px;
    color: #FFF;
    grid-row: 1;
}

/* Hide all subfolders if the parent folder isn't opened */
.folderHierarchyFolder > .folderHierarchyFile {
    display: none;
}

.folderHierarchyFolder.open > .folderHierarchyFile {
    display: block;
}

.folderHierarchyFile {
    margin-left: 16px;
}

.folderHierarchyImage > #tilesheetFolderHierarchyImageCtrl {
    display: none;
}

.folderHierarchyImage.open > #tilesheetFolderHierarchyImageCtrl {
    display: block;
}

.folderHierarchyImage.open > .folderHierarchyImageName {
    color: #FFF;
    text-decoration: none;
}

#tilesheetFolderHierarchyImageCtrl {
    margin-left: 24px;
}

.tilesheetFolderHierarchyImageCtrlText {
    background: #232323;
    border: thin solid #000;
    border-radius: 2px;
    padding: 2px;
    color: #FFF;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    display: inline;
    width: 60px;
}

#tilesheetFolderHierarchyImageCtrlImgProcess {
    width: 512px;
    color: #FFF;
}

#tilesheetFolderHierarchyImageCtrlContainerPreview {
    display: grid;
    justify-content: space-between;
    grid-gap: 10px;
    grid-template-columns: 40% 40%;
}

#tilesheetFolderHierarchyImageCtrlImgSrc {
    border: #111 2px solid;
    border-radius: 4px;
    max-width: 100%;
}

#tilesheetFolderHierarchyImageCtrlImgPreview {
    border: #111 2px solid;
    border-radius: 4px;
    max-width: 100%;
}

/************************************/
/*      Resource Mgr      */

#resourceMgr {
    width: 200px;
    background: #000;
    padding: 10px 10px;
}

#resourceMgr .resource {
    color: #FFF;
    display: block;
	text-decoration: none;
}

#resourceMgr .resource:hover {
    font-weight: bold;
}

.resourceMgrAddNew {
    text-decoration: none;
    color: #8FF;
}

.resourceMgrAddNew:hover {
    font-weight: bold;
}


/************************************/
/*      Utilities      */

.hidden {
    display: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;

  bottom: 92%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
