
body {
    display: flex;
    justify-content: stretch;
    margin: 10px 10px;
}

#workingWindow {
    width: 100%;
}

/************************************/
/*      Editor      */

.tilesheetAction {
    height: 40px;
    width: 40px;
}

.tilesheetActionImg {
    max-height: 100%;
    max-width: 100%;
}

/************************************/
/*      Modules      */

.module {
    display: none;
}

.activeModule {
    display: block;
}

/*      Tilesheet      */

#ModTilesheet {
    display: flex;
    justify-content: space-between;
}

#tilesheetControls {
    width: 200px;
    height: 200px;
    border: thin solid black;
    background: #FEFEFF;
    border-radius: 6px;
    margin: 20px;
    padding: 4px;
}

#tilesheetControls.pendingChanges {
    background: #ffff00;
}

#tilesheetActionList {
    display: flex;
}

.tilesheetAction {
    min-width: 20px;
    min-height: 20px;
    margin: 0px;
    padding: 2px;
    display: block;
    background: #0F0;
    border: 1px solid #000;
	text-decoration: none;
}

.tilesheetAction.active {
    background: #0A0;
}

.tilesheetAction:hover {
    font-weight: bold;
    background: #00F;
}

.tilesheetObject {
    display: block;
    text-decoration: none;
}

#tilesheetSave {
    display: block;
    font-weight: bold;
}

#tilesheetVirtualCanvas {
    display: none;
}

/************************************/
/*      Resource Mgr      */

#resourceMgr {
    width: 200px;
    background: #000;
    padding: 10px 10px;
}

#resourceMgr .resource {
    color: #FFF;
    display: block;
	text-decoration: none;
}

#resourceMgr .resource:hover {
    font-weight: bold;
}
